<div class="row our-visiualization">
    <div class="col-xs-12
          our-visiualization-1">
          <ul>
              <li><h3>Creá tu <br>visualización <br> en 3 pasos</h3></li>
              <li><span>1</span>Buscá funcionarios --</li>
              <li><span>2</span>Buscá funcionarios --</li>
              <li><span>3</span>Buscá funcionarios --</li>
              <li><button type="button" name="button" ng-click="activeButton()">CREAR VISUALIZACIÓN</button></li>
          </ul>


    </div>
</div>
<div class="row footer">
    <div class="col-xs-12
          col-sm-12
          col-md-12
          col-lg-12">
        <ul>
            <li><span>8000</span>CARGOS</li>
            <li><span>5000</span>POLÍTICOS</li>
            <li><span>2000</span>ORGANIZACIONES</li>
            <li><span>60</span>TERRITORIOS</li>
            <li><span>80</span>CATEGORÍAS</li>
            <li><span>120</span>AÑOS</li>
        </ul>
    </div>
</div>
