<div class="module" ng-controller="loaderController">

	<div class="col-xs-12
			col-sm-12
			col-md-12
			col-lg-12
			search-bar">
		<div class="search-bar-1">
				<a id="logotype" href="/"><img src="/img/v2/logo.png" alt=""></a>
				<!-- <img id="place" src="/img/v2/argentina.png" alt=""> -->
				<h3>
					{{customization.siteTitle ? customization.siteTitle : 'Undefined'}}
				</h3>
		</div>
		<div class="search-bar-2">
			<a href="/"><img src="/img/v2/flag.png" alt="">CAMBIAR PAIS</a>
			<a href="/"><img src="/img/v2/about2.png" alt="">ACERCA DE</a>
		</div>
	</div>
		<!-- <div class="search-bar-3">
			<div id="burger" data-activates="slide-out" class="button-collapse">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div id="slide-out" class="side-nav">
			<div id="choise-places">
				<img src="/img/v2/argentina.png" alt="">
				<p>Argentina</p>
				</li>
			</div>

			<ul id="side-nav-options">
				<li>
					<p>Visita guiada</p>
				</li>
				<li>
					<p>Colaboradores</p>
				</li>
				<li>
					<p>Fuentes de información</p>
				</li>
				<li>
					<p>Nuestras histórias</p>
				</li>
				<li>
					<p>Acerca de Cargografías</p>
				</li>
				<li>
					<p>Changelog</p>
				</li>
			</ul>
			<br>
			<br>
			<ul id="social-icons-nav">
				<li>
					<a href="#"><img src="/img/v2/facebook.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="/img/v2/twitter.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="/img/v2/github.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="/img/v2/mail.png" alt=""></a>
				</li>
			</ul>
			<br>
			<div class="column-3">
		      <a href="https://docs.google.com/forms/d/1NoOYENvhHXqpLO3WpB8l6R8ofJkJiShLlx2A_DfrNd0/viewform?embedded=true&amp;hl=es" target="_blank"><img src="/img/v2/icon4.png" alt="">
		          <p>AYUDANOS A MEJORAR</p>
		      </a>
		  </div>
			<br>
			<ul id="other-icons">
				<li>
					<a href="#"><img src="/img/v2/icon1.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="/img/v2/icon2.png" alt=""></a>
				</li>
				<li>
					<a href="#"><img src="/img/v2/icon3.png" alt=""></a>
				</li>
			</ul>
		</div>
	</div> -->

</div>


<div ng-show="showPresetsView" id="presets" ng-include="'/angular/partials/presets.html'"></div>
<div ng-show="showPresetsView" ng-include="'/angular/partials/footer.html'"></div>
<div ng-show="showFilterView" id="filter-container" ng-include="'/angular/partials/filter.html'"></div>
<div ng-show="showVisualizationView" ng-include="'/angular/partials/onVisualization.html'"></div>


<script type="text/javascript">
	$('#burger').click(function() {
		$(this).toggleClass('open');
	});
	$(".button-collapse").sideNav();


	$('.button-collapse').sideNav({
		menuWidth: 444,
		edge: 'right',
		closeOnClick: true,
		draggable: true,
		onOpen: function(el) {}, // A function to be called when sideNav is opened
		onClose: function(el) {}, // A function to be called when sideNav is closed
	});
</script>
<!-- <div class="module timeline">
	<div class="description">
		<h3><i class="fa fa-tasks"></i>{{customization.timeline}}</h3>
	</div>
<div ng-show="ready" ng-include="'/angular/partials/linea.html'"></div>
</div>
<div class="module">
	<div class="description">
		<h3><i class="fa fa-bar-chart"></i>{{customization.stats}}</h3>
	</div>
	<div ng-show="ready" ng-include="'/angular/partials/hall-of-shame.html'"></div>
	<div ng-show="ready" ng-include="'/angular/partials/stats.html'"></div>
</div> -->
