<div  id="main-visualization" class="view1" ng-controller="loaderController">
    <div ng-hide="showme">
        <br>
        <div class="row">
            <div class="col-xs-12
              col-sm-12
              col-md-12
              col-lg-12
              child-container">
                <h3>
                  {{customization.siteTitle ? customization.siteTitle : 'Cargografías'}}
                </h3>

              <div class="">
              <i class="right"></i>
              <i class="left"></i>
              </div>


            </div>
        </div>
        <br><br>
        <div class="row child-container">

            <div class="col-xs-12
                col-md-3" ng-repeat="preset in presets">

                    <img ng-src="{{preset.imagen}}" ng-click="loadMyPresets($index);activeVisualizations();refreshAllVisualizations();activeButton()">

                <button type="button" name="button" ng-click="loadMyPresets($index);activeVisualizations();refreshAllVisualizations();activeButton()" >{{preset.nombre}} </button>
                <!-- <p><a ng-href="preset.valores">{{preset.nombre}}</a></p> -->
            </div>
        </div>
    </div>
</div>
