<div  id="main-visualization" class="view1">
    <div ng-hide="showme">
        <br>
        <div class="row">
            <div class="col-xs-12
              col-sm-12
              col-md-12
              col-lg-12
              child-container">
                <h3>

                  {{customization.siteTitle ? 'customization.siteTitle' : 'Cargografías'}}
                    <!-- {% if  %}{{customization.siteTitle}}{% endif %}
                    {% if !customization.siteTitle %}Cargografías{% endif %} -->
                </h3>
                <!-- <p>
                    {% if customization.subHeading %}{{customization.subHeading}}{% endif %}
                    {% if !customization.subHeading %}{{customization.subtitle}}{% endif %}
                </p> -->

              <div class="">
              <i class="right"></i>
              <i class="left"></i>
              </div>


            </div>
        </div>
        <br><br>
        <div class="row child-container">

            <div class="col-xs-12
                col-md-3" ng-repeat="preset in presets">
                <a href="#">
                    <div class="view1-box"><img ng-src="{{preset.imagen}}"></div>
                </a>
                <p><a ng-href="preset.valores">{{preset.nombre}}</a></p>
            </div>
        </div>
    </div>
</div>
